<!DOCTYPE html>
<html>

<head>
    <title>CyberPeacekeeping.org</title>
    <meta charset="utf-8">
        <meta property="og:title" content="CyberPeacekeeping.org"/>
        <meta property="og:url" content="http://cyberpeacekeeping.org"/>
        <meta name="description" content="CyberPeacekeeing.org is a collection of essays and research concerning cyber peacekeeing and cyber warfare.">
        <meta name="author" content="Nikolay Akatyev">
        <meta name="author" content="Joshua I. James">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/blog.png">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Roboto|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>

    <div class="wrapper">
        {{ content }}
    </div>

</body>

</html>
